* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #676666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: #c5c5c5;
  margin-top: 200px;
  box-shadow: 5px 3px 3px #000000;
  padding: 24px;
  border-radius: 7px;
}
.container table {
  width: 100%;
  border: 3px solid black;
  border-radius: 8px;
  border-collapse: collapse;
}
th,
td {
  border: 3px solid black;
  padding: 7px;
  text-align: center;
}
select {
  width: 25%;
  margin-bottom: 30px;
  padding: 10px;
  background: gray;
}
#carsMenu {
  margin-right: 50px;
}
